*{
    /* background-color: rgb(82, 150, 82);
}
h1{
    color:orangered ;

} */


 *{
    margin: 1px;;
    padding: 2px;;

 }
.navbar{
    display: flex;
    justify-content: space-between;
    image-rendering: auto;
    
}
  

}
.mine{
    color: rgb(0, 255, 76);
    height: 200px;
    width: 100px;
}
.self{
    display: flex;
    justify-content: space-between;
}
div>img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: brown;
}
*{
    background-color:chartreuse;
    font-size: 20px;
    font-style:oblique;
  
}